* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover !important;
    background-position: top !important;
    line-height: 1.5em;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
div {
    display: block;
}
#wrapper{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 250px;   
}

/* css for info bar  */

#info-bar{
    height: 100px;
    background-color: #66bfbf;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: .3em;
    /* order: 0;          
    height: 35px;
    color: white;
    border: 1px solid red;
    background-color: blue;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: center; */
}

#fb_01{
    height: 2em;
}

#ld_01{
    height: 2em;
}

button{
    color: #dbdbdb;
    background-color: #0f7f85;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    padding: .6em;
    border-radius: .3em;
    border: 1px solid #0f7176d8;
    margin: 1em;

}

button:hover{
    background-color: #000;
}

#phone{
order: 0;
}

#phone-details{
    font-size: 24px;
    order: 0;
}




#nav-bar{
    order: 1;       
    border: 1px solid purple;
    background-color: white;
    font-size: 14px;
    min-height: 120px;
    color: black;
}


#body{
    order: 2;
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    border: 1px solid red;
    background-color: green;
    font-size: 14px;
}


#footer{
    order: 3;
    border: 1px solid red;
    background-color: green;
    font-size: 14px;
    min-height: 250px;
}